@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
/*/////////////////////////////////////*/
:root {
    --font1: Verdana, Arial, Helvetica, sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Passion One', cursive;
}
/*/////////////////////////////////////*/
*{
    padding: 0;
    margin: 0;
}
/*/////////////////////////////////////*/
 html, body{
     min-width: 100vw;
     background-color: darkgray;
     font-family: var(--font1);
 }
/*/////////////////////////////////////*/
 header{
    background-color:black;
    text-align: center;
    color: white;     
 }
/*/////////////////////////////////////*/
 header > h1{
    font-family: var(--font3);
    font-weight: normal;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
 }
/*/////////////////////////////////////*/
 header > p {
     padding-bottom: 50px;
     
 }
/*/////////////////////////////////////*/
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
 }
/*/////////////////////////////////////*/
a:hover{
     text-decoration: underline;
 }
/*/////////////////////////////////////*/
 footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }
 /*/////////////////////////////////////*/
 .normal {
    background-color:white;
 }
 /*/////////////////////////////////////*/
 section.image > p{
    margin-left: 10px;
    display: inline-block;
    padding: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
 }
/*/////////////////////////////////////*/
 section{
    font-family: var(--font2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
 }
/*/////////////////////////////////////*/
 main p{
    padding-left: 30px;
    line-height: 1.5em;
    Padding-bottom: 2em;
 }

.image{
    box-shadow: inset 1px 4px 10px rgba(0, 0, 0, 0.548);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

 section#img1{
     background-image: url('images/background001.jpg');
 }

 section#img2{
     background-image: url('images/background002.jpg');
 }

